<div class="gallery_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-65">
                    <h3>Galería de imágenes</h3>
                </div>
            </div>
        </div>
        <div class="row grid">
                <div class="col-xl-5 col-lg-5 grid-item cat1 col-md-6">
                    <div class="single-gallery mb-30">
                            <div class="portfolio-img">
                                    <img src="img/gallery/1-1.jpg" alt="" width="400px">
                            </div>
                            <div class="gallery_hover">
                                <a  class="popup-image"  href="img/gallery/1.jpg" class="hover_inner">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 grid-item cat3 cat4 col-md-6">
                    <div class="single-gallery mb-30">
                            <div class="portfolio-img">
                                    <img src="img/gallery/2.jpg" alt="">
                            </div>
                            <div class="gallery_hover">
                                    <a class="popup-image" href="img/gallery/2.jpg" class="hover_inner">
                                        <i class="ti-plus"></i>
                                    </a>
                            </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-6 grid-item cat4 col-md-6">
                    <div class="single-gallery mb-30">
                            <div class="portfolio-img">
                                    <img src="img/gallery/3-3.jpg" alt="" width="400px">
                            </div>
                            <div class="gallery_hover">
                                    <a class="popup-image" href="img/gallery/3.jpg" class="hover_inner">
                                        <i class="ti-plus"></i>
                                    </a>
                            </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 grid-item cat2 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="portfolio-img">
                                <img src="img/gallery/6.jpg" alt="" width="400px">
                        </div>
                        <div class="gallery_hover">
                                <a class="popup-image" href="img/gallery/6.jpg" class="hover_inner">
                                    <i class="ti-plus"></i>
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 grid-item cat2 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="portfolio-img">
                                <img src="img/gallery/4.jpg" alt="" width="400px">
                        </div>
                        <div class="gallery_hover">
                                <a class="popup-image" href="img/gallery/4.jpg" class="hover_inner">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 grid-item cat2 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="portfolio-img">
                                <img src="img/gallery/5.jpg" alt="" width="400px">
                        </div>
                        <div class="gallery_hover">
                                <a class="popup-image" href="img/gallery/5.jpg" class="hover_inner">
                                    <i class="ti-plus"></i>
                                </a>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>