<div class="modal fade" id="nuevaClase" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <form class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="backDropModalTitle">Añadir nueva clase</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Descripción de la clase</label>
              <textarea type="text" rows="5" maxlength="500" id="nameBackdrop" class="form-control" placeholder="Descripción de la clase"></textarea>
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-0">
              <label for="emailBackdrop" class="form-label">Titulo de clase</label>
              <input type="text" id="emailBackdrop" class="form-control" placeholder="Máximo 100 caracteres" maxlength="100">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Añadir</button>
        </div>
      </form>
    </div>
</div>